<h1>Product Details</h1>
<div>
  <mat-grid-list [cols]="breakpoint"  (window:resize)="onResize($event)">
  <mat-grid-tile *ngFor="let group of temp_file_json.groups; let j = index">
    <div class="container" style="width:363px; height:363px">
      <img src={{group.hero.href}} style="width:100%;" (click)="on(j)" />
      <div class="content-top">{{group.name}}</div>
      <div class="bottom-left">$ {{group.priceRange.selling.high}}</div>
    </div>
  </mat-grid-tile>
  </mat-grid-list>
  
  <!--style="display: (carouselFlag =true)? :'block' :'none'"-->
  <div id="overlay" *ngIf="carouselFlag == true">
    <div>
      <button>
      <img id="slide1" src={{carousel_images[show_carousel_image_number].href}} (click)="off()">
    </button>
    </div>
 
    <!-- Next and previous buttons -->
    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>

    <br>
    <!--
      <div *ngFor="let current_image of carousel_images; let i = index"  style="text-align:center" >
      <span class="dot" (click)="currentImage(i)" ></span> 
    </div>
    -->

    <!-- The dots/circles -->
    <div style="text-align:center">
      <span class="dot" (click)="currentImage(0)"></span>
      <span class="dot" (click)="currentImage(1)"></span>
    </div>


  </div>
</div>